ip: 192.168.10.10
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: /Users/zshe129/Documents/code
        to: /home/vagrant/code
sites:
    -
        map: my.app
        to: /home/vagrant/code/stock/
databases:
    - homestead
name: stock
hostname: stock
